:root {
  --primary-color: #0e3366;
  --secondary-color: #0e3366;
  --light-background: #cff3f3;
  --light-white: #efefef;
}
.cs-bg-primary {
  background: var(--primary-color);
}
.cs-bg-secondary {
  background: var(--secondary-color);
}
.cs-light-background {
  background: var(--light-background);
}
.cs-light-white {
  background: var(--light-white);
}
.hr-line{
  background: red;
  height: 4px;
}
.icon {
  font-size: 24px;
  color: var(--primary-color);
}
nav ul li a {
  color: white !important;
}
nav ul li:hover a {
  color: black !important;
  background: rgb(224, 222, 222);
  border-radius: 4px;
}
.welcome-image img {
  width: 100%;
  height: 58vh;
  object-position: center;
  object-fit: cover;
}
.number-icon {
  background: rgb(247, 153, 0);
  color: white;
  width: 20px;
  padding: 0 4px;
  border-radius: 4px;
  margin-right: 20px;
}
